:root {
    --boxColor: #0ff7;
    --rotateSpeed: 30s
}

body {
  background-color: #000;
  min-height: 100vh;
  display: flex; 
  justify-content: center;
  align-items:center;
  font-size: 75px;
  perspective: 10em;
  perspective-origin: 50% calc(50% - 2em);
 /*he mentioned that this combined with 75px font size makes 750 pixels. makes sense.*/
}



.scene {
    position:relative;
    transform-style: preserve-3d;
    animation: sceneRotate var(--rotateSpeed) infinite linear;

    @keyframes sceneRotate {
        to { transform: rotateY(360deg); }
    }
}

/* he is using 
as the main variable for the size of everything which is fucking brilliant
*/


  /* 
  have a shift in perspective from like 50em while simultaneously fading out the presentation 'landing page'

  maybe have the landing page be on the ground and then swing perspective up to see the actual project
  "they told me to be creative with white space, so I made sure to have plenty of it. with that inspiration, I also added a dimension."

  how do i make the MMM 3d
  could have diff pages be floating around on the landing page and then have it zoom in when you click

  maybe have the cube be some kind of veil... idk
  maybe have the 
  maybe have the cube request the magic word which triggers some stuff to remove the div containing the cube to show the project

  5s animation that eventually ends with the words... "whats the magic word?"
  NO
  guess again.

  security through obscurity is good if you're the only one that knows
  */

   
.ball { 
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: lightblue;

    position: absolute;
    left: -.5rem;
    bottom: 1em;
    background-image: radial-gradient(
        circle at top ,
        lightblue , 
        70% ,
        #000

    );
}

.ballShadow {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: #fff; */
    background-image: radial-gradient(#000 , #0000 50%);
}


.cube {
    width: 2em;
    height: 2em;
    transform-style: preserve-3d;
    position:absolute;
    top: -1em;
    left: 1em;

}

.left , .right , .front , .back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--boxColor);
    box-shadow: 0 0 0.5em #000 inset;
}

.front {transform: translateZ(1em);}
.right {transform: rotateY(90deg) translateZ(1em);}
.back {transform: rotateY(180deg) translateZ(1em);}
.left {transform: rotateY(270deg) translateZ(1em);}

.top {
    position: absolute;
    width: 2em;
    height: 2em;
    background: var(--boxColor);
    transform: translateY(-50%) rotateX(90deg);
    box-shadow: 0 0 0.5em #000a inset;
}

.bottom {
    position: absolute;
    width: 2em;
    height: 2em;
    background: #0007;
    bottom: 0;
    transform: translateY(50%) rotateX(90deg);
    box-shadow: 0 0 0.5em #000;

}

.floor {
    position: absolute;
    top: 1em;
    transform: 
      translate(-50% , -50%)
      rotateX(90deg);
    width: 15em;
    height: 15em;
    background-image: 
    radial-gradient(#0000 , #000),
    repeating-conic-gradient(
        from 45deg , 
        #111 0deg 90deg , 
        #222 90deg 180deg);
    background-size: 1em 1em;
}