
html {
    background: radial-gradient(#222, #000);
    overflow: hidden;
}

body {

min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
perspective: 750px;
perspective-origin: 50% calc(50% - 150px);
}

.scene {
position: relative;
transform-style: preserve-3d;
}

.ball {
width: 75px;
height: 75px;
border-radius: 50%;
background: white;

position: absolute;
left: -37px;
bottom: 75px;
transform-style: preserve-3d;

}

.sidebar {

width: 150px;
height: 150px;

position: absolute;
right: 250px;
bottom: 150px;
transform-style: preserve-3d;

}

.right , .front , .back {
    /* opacity: 35%; */
    
    background: lightblue;
    position: absolute;
    width: 100%;
    height: 100%;
    
}

.left {
    background: white;
    transform:skewX(5px);
}


.top {
    position: absolute;
    width: 150px;
    height: 150px;
    background: gray;
    transform: translateY(-50%) rotateX(90deg);
}




.floor {

position: absolute;
top: 75px;
transform: translate(-50% , -50%) rotateX(90deg);
width: 1050px;
height: 1050px;
background-image: 
radial-gradient(#0000 , #000) ,
repeating-conic-gradient(
from 45deg , 
#111 0deg 90deg ,
#222 90deg 180deg

);
background-size: 100% , 75px 75px;
}