:root {
    --r: 70;
    --g: 180;
    --b: 169;
    --text-color: rgb(var(--r) , var(--g) , var(--b));
    /* color: var(--text-color); copy/paste variable anything color */
}

.content {
    opacity: 0;
    visibility: hidden;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 100px 200px;
    place-items: center;
}

article {
    width: clamp(200px , 50% , 600px);
}

button:focus-within .collapsible {
    opacity: 1;
    visibility: visible;
}

button {
   margin-top: 25px;
}

/*
put notes about stuff here.
 */
